<!doctype html>
<html>
    {% include head.html %}
    <body>
        <button onclick="topFunction()" id="topBtn" class="shadow" title="Go to top"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
        <div class="page-content animated fadeIn">
          <section class="section-gradient text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md text-center">
                        <h1>{{ site.person }}</h1>
                        <p>{{ site.heading }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md text-center">
                        <p>{{ site.phone }}</p>
                    </div>
                    <div class="col-md text-center web">
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </div>
                    <div class="col-md text-center web">
                        <a href="{{ site.portfolio }}">{{ site.portfolio }}</a>
                    </div>
                </div>  
            </div>
          </section>
          <section>
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <h2>About Me</h2>
                        <p>{{ content }}</p>
                        <h2>Skills</h2>
                        {% for skills in site.data.skills-list %}
                            <div class="skills-label">{{ skills.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <h2>Experiences</h2>
                            {% include cv-layout.html type="Experiences" %}
                        <h2>Volunteering</h2>
                            {% include cv-layout.html type="Volunteering" %}
                        <h2>Education</h2>
                            {% include cv-layout.html type="Education" %}
                        <h2>Projects</h2>
                        {% include cv-layout.html type="Projects" %}
                        <h2>Certifications</h2>
                            <ul>
                                {% assign sorted =  site.data.cert | sort: "expiry" | reverse %}
                                {% for cert in sorted %}
                                <li>
                                    <span class="text-primary">{{ cert.name }}</span> - Valid until {{ cert.expiry | date: "%b %Y" }}
                                </li>
                                {% endfor %}
                            </ul>
                        <h2>References</h2>
                        <p>References can be provided upon request</p>
                        <!-- {% for reference in site.data.references %}
                            <h5>{{ reference.name }}</h5>
                            <h6>{{ reference.company }}</h6>
                            <p>{{ reference.phone }}</p>
                            <p>{{ reference.email }}</p>
                        {% endfor %} -->
                        <h2>Languages</h2>
                        {% for language in site.data.languages %}
                            <h5>{{ language.name }}</h5>
                            <p>{{ language.status }}</p>
                        {% endfor %}
                        <h2>Working Rights</h2>
                        {% for working in site.data.working %}
                            <h5>{{ working.country }}</h5>
                            <p>{{ working.status }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
          </section>
        </div>
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </body>
</html>